.comment-section {
    margin-top: 0%;
}

.comment-card {
    width: 100%;
}

.comment-section-body {
    padding-left: 3% !important;
    padding-right: 3% !important;
    overflow-y: auto;
    max-height: 55vh;
}

.user-section {
    display: inline-block;
    padding: 0 !important;
}

.user-comment {
    display: inline-block;
    float: right;
    text-align: left;
}

.user-font {
    color: #01336a;
    float: left;
}

.single-comment {
    margin-bottom: 2% !important;
}

.comment-username, .comment-time {
    margin-bottom: 0 !important;
    text-align: left;
    margin-left: 20%;
}

.comment-time {
    font-size: 11px;
    color: grey;
}

.comment-button {
    background: #01336abf;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    width: 100%;
    transition: transform .2s;
}

.comment-button:focus {
    outline: none;
}

.comment-button:hover {
    cursor: pointer;
    background: #01336a;
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04);
}

.delete-button {
    float: right;
    top: 0;
    right: 0;
    position: absolute;

}

.delete-button:hover {
    cursor: pointer;
    color: #a83c43;
}

.comment-player-name {
    font-size: 12px;
}