.search-bar {
    margin-top: 7% !important;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3% !important;
}

.dash-box {
    margin-top: 4% !important;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

.heading-text {
    color: white;
    font-size: 20px;
    font-weight: 900;
    background-color: #01336a !important;
}

.pre-scrollable {
     max-height: 65vh !important;
 }

.welcome {
    font-size: 20px;
}

.search-helper {
    font-size: 1rem;
    color: #979ca0;
}