.main_nav {
    background-color: #01336a;
    box-shadow: 0 1px 5px #2f2f2f;
}

.main_title {
    color: #eeeeee !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding-left: 2%;
}

.profile-button {
    position: absolute;
    text-align: right;
    right: 2%;
}