.search-results-container {
    margin-top: 5%;
}

.search-string {
    font-size: 20px;
    margin: 0;
    margin-top: 7px;
}

.result-box {
    margin-top: 3%;
    max-height: 70vh;
    overflow-y: auto;
    padding-bottom: 1%;
}

.back {
    color: #01336abf;
    cursor: pointer;
}

.search-card-title {
    text-align: center;
    padding: 0;
    margin: 0;
}

.no-result-string {
    font-size: 25px;
    margin-top: 10%;
}

.back:hover {
    color: #01336a;
}

.back-button {
    display: inline-block;
}

.back-text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 30px;
    margin-top: -23%;
}